for file in ['/javascripts/angular.min.js', '/javascripts/jquery.min.js', '/javascripts/tether.min.js', '/javascripts/bootstrap.min.js','/javascripts/angular-ui-router.min.js']
        script(src=file)
