for file in ['https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js', 'https://code.jquery.com/jquery-3.1.1.slim.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js','//unpkg.com/angular-ui-router/release/angular-ui-router.min.js']
        script(src=file)
