.login-cards {
	width: 20rem;
	margin:20px;
	float:left;
}
.mrglr5 {
	margin-left: 5px;
	margin-right: 5px;
}
.mrgtb5 {
	margin-top: : 5px;
	margin-bottom: : 5px;
}

.mrg0 {
	margin: 0px !important;
}